
<!DOCTYPE html>
<html lang="en">

<head>
  <title>CSI Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Nunito:900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:700" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>




</head>

<style>
  body {
  background: #c1bdba;
  font-family: 'Titillium Web', sans-serif;
}
</style>

<body style="max-width: 100%;
    overflow-x: hidden;">





  <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#179b77;font-family: 'Nunito', sans-serif;border-bottom:solid 1px #003399">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
        </button>
        <a style="color:white" class="navbar-brand" href="/">ClassesName</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li>
            <a style="color:white" href=""><strong>All Events</strong></a>
          </li>
          
          <li>
            <a style="color:white" href=""><strong>Past Events</strong></a>
          </li>
          
          <li>
            <a style="color:white" href=""><strong>Gallery</strong></a>
          </li>
          
          <li>
            <a style="color:white" href=""><strong>Contact Us</strong></a>
          </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
              <!-- <li>
                <a href="/"><strong style="background-color:#ccc;padding:5px;color:#003994">Admin Side</strong>
                </a>
              </li> --> 

              <li>
                <a href="/login" style="color:white" >
                  <span>Login</span>
                </a>
              </li>

              <!-- <li>
                <a class=" mr-2" href=""><strong style="background-color:#ccc;padding:5px;color:#003994">username</strong>
                </a>
              </li>

              <li>
                <a class=" mr-2" type="button" href="/logout">
                  <span style="background-color:white;padding:5px;color:black">Log Out</span>
                </a>
              </li> -->
        </ul>
      </div>
    </div>
  </nav>