
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body style="overflow: hidden">


	<div class="row">
		
<div class="col col-lg-2" style="height:2000px;background-color: rgb(0,86,256);text-align: center;">


	<div style="margin-top: 100px;background-color: rgba(256,256,256,0.3);margin-left: 30px;margin-right: 30px;
	padding-top: 20px;padding-bottom: 20px;border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.19), 0 3px 4px rgba(0,0,0,0.23);"> 
			<i class="material-icons" style="color: white;font-size: 40px"> 
watch_later
</i><br><span style="color: white;font-size: 30px"><strong>3:00:00</strong></span>
	</div>


	



</div>

<div class="col col-lg-10" style="background-color: #fff; 
background-image:linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),linear-gradient(#eee .1em, transparent .1em);background-size: 100% 1.2em;height:2000px;float: right;text-align: center;">
	
<div style="height: 400px;width: 900px;background:url(https://i.imgur.com/C0OJWJc.png);
margin: 0 auto;margin-top: 100px;">
	
</div>

<div>

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container" style="margin-top: 100px">
	<div class="row">
		
<div class="custom-radios">
  <div>
  	<span style="font-size: 25px"><strong>(a)</strong></span>
    <input type="radio" id="color-1" name="color" value="color-1">
    <label for="color-1">
      <span>
        
      </span>
    </label>
  </div>
  
  <div>
  	<span style="font-size: 25px"><strong>(b)</strong></span>
    <input type="radio" id="color-2" name="color" value="color-2">
    <label for="color-2">
      <span>
      </span>
    </label>
  </div>
  
   <div>
  	<span style="font-size: 25px"><strong>(c)</strong></span>
    <input type="radio" id="color-3" name="color" value="color-3">
    <label for="color-3">
      <span>
      </span>
    </label>
  </div>

  <div>
  	<span style="font-size: 25px"><strong>(d)</strong></span>
    <input type="radio" id="color-4" name="color" value="color-4">
    <label for="color-4">
      <span>
      </span>
    </label>
  </div>
</div>
	</div>
</div>
	
</div>

</div>

	</div>










<style type="text/css">
	



.custom-radios div {
  display: inline-block;
  margin-top: 10px;
  margin-left: 100px
}
.custom-radios input[type="radio"] {
  display: none;
}
.custom-radios input[type="radio"] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.custom-radios input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}
.custom-radios input[type="radio"] + label span img {
  opacity: 0;
  transition: all .3s ease;
}
.custom-radios input[type="radio"]#color-1 + label span {
  border:solid 2px rgb(0,86,256);
}
.custom-radios input[type="radio"]#color-2 + label span {
  border:solid 2px rgb(0,86,256);
}
.custom-radios input[type="radio"]#color-3 + label span {
 border:solid 2px rgb(0,86,256);
}
.custom-radios input[type="radio"]#color-4 + label span {
 border:solid 2px rgb(0,86,256);
}
.custom-radios input[type="radio"]:checked + label span {
  opacity: 1;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg) center center no-repeat;
  background-color: rgb(0,86,256);
  width: 40px;
  height: 40px;
  display: inline-block;

}
</style>


</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

</html>




<%questions.forEach(function(question){%>

        <%=question.QuestionLink%> 

<%})%>