<form action="/submitQuestion/<%=test._id%>" method="POST">

<input type="text"  name="QuestionLink" placeholder="QuestionLink">
<input type="text"  name="correctOption" placeholder="correctOption">
<button type="submit">submit</button>

</form>