<form action="/submitTest" method="POST">

    <input type="text"  name="forBatch" placeholder="forBatch">

    <input type="date" name="createdOn" placeholder="Scheduled on">
   
    <button type="submit">submit</button>
    
    </form>